:root {
    --header-bg-color: #F6E0C5;
    --header-active-color: #F12929;

    --main-area-border: #EDC290;
    --main-profile-title: #F1A42F;
    --main-bg-color: #FFFDDF;

    --main-bg-color-half-transparent: rgba(255, 253, 223, 0.6);

    --sub-profile-grid-border: #F1A42F;
    --sub-profile-grid-bg-color: rgba(255, 255, 255, 0.7);
    --content-block-border: rgba(0,0,0,0.25);
    --wizard-step-btn-color: #f3b552;

    --wrap-info-bg-color: #FFE499;
    --info-area-bg-color: #FFECA7;

    --footer-bg-color: #080808;
    --footer-reference-bg-color: #393939;
    --footer-block-border: #2b2b2b;
    --footer-text-color: #898989;

    --white-color: #FFFFFF;
    --white-half-transparent-color: #FFFFFF7F;
    --black-color: #000000;

    --skill-level-color: #F1A42FA5;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 7.5rem;
    z-index: 100;
    background-color: var(--header-bg-color);
}

body {
    font-family: "Nanum Gothic", sans-serif;
}

/*Font Setting*/
.outfit {
     font-family: "Outfit", sans-serif;
     font-optical-sizing: auto;
     font-style: normal;
 }

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
}

.lora {
   font-family: "Lora", serif;
   font-optical-sizing: auto;
   font-style: normal;
}

.font-size-24 {
    font-size: 24px;
}

.font-size-36 {
    font-size: 36px;
}

.font-size-48 {
    font-size: 48px;
}

.font-size-64 {
    font-size: 64px;
}

.font-weight-bold {
    font-weight: bold;
}

/* Label */

.label-block {
    display: inline-block;
    width: 150px;
}

.label-block.lg {
    font-size: 24px;
    width: 225px !important;
}

.label-block.md {
    font-size: 18px;
    width: 150px !important;
}

.label-lg {
    display: inline-block;
    font-size: 24px;
}

.label-md {
    display: inline-block;
    font-size: 18px;
}

/* Table Design */
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #595959;
}

.table.fixed-layout {
    table-layout: fixed;
}

.table > :not(caption) > * > * {
    padding: 0.25rem 0.25rem;
    background-color: transparent;
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px transparent;
}
.table > tbody {
    vertical-align: inherit;
}
.table > thead {
    vertical-align: bottom;
}
.table > :not(:last-child) > :last-child > * {
    border-bottom-color: currentColor;
}

.table-bordered > :not(caption) > * {
    border-width: 2px 0;
}
.table-bordered > :not(caption) > * > * {
    border-width: 0 2px;
}

.table-borderless > :not(caption) > * {
    border-width: 0 0;
}
.table-borderless > :not(caption) > * > * {
    border-width: 0 0;
}

table {
    caption-side: bottom;
    border-collapse: collapse;
}

th {
    text-align: inherit;
    text-align: -webkit-match-parent;
}

thead, tbody, tfoot, tr, td, th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

.mb-1 {
    margin-bottom: 0.5rem;
}

.mb-2 {
    margin-bottom: 1rem;
}

.mb-3 {
    margin-bottom: 1.5rem;
}

.mt-1 {
    margin-top: 0.5rem;
}

.mt-2 {
    margin-top: 1rem;
}

.mt-3 {
    margin-top: 1.5rem;
}

/* Area */

header > .menu-div > nav > ul.toc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

header > .menu-div > nav > ul.toc > li {
    width: 15rem;
}

header > .menu-div > nav > ul.toc > li > a {
    display: block;
    height: 7.5rem;
    line-height: 7.5rem;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    transition: all 0.5s;
}

a:link {
    text-decoration: none;
}

header > .menu-div > nav > ul.toc > li:hover > a,
header > .menu-div > nav > ul.toc > li.active > a {
    color: var(--header-active-color)
}

section#home {
    display: flex;
    flex-direction: column;
    height: calc(55vw - 15rem);
    border: 5px solid var(--main-area-border);
    justify-content: center;
    align-items: center;

    background-image: url("https://github.com/YangSooHo/my_portfolio/blob/main/images/background/home.jpeg?raw=true");
    background-repeat : no-repeat;
    background-position: center;
    background-size : cover;
}

section#home > .main-profile {
    opacity: 0.75;
    margin: 5rem 0 1rem 0;
    padding: 1.5rem;
    border: 5px solid var(--main-area-border);
    background: var(--main-bg-color);
    width: 85%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    user-select: none;
}

section#home > .main-profile > .main-profile-title {
    font-size: 128px;
    font-weight: bold;
    color: var(--main-profile-title);
}

section#home > .main-profile > .title-line {
    border: 3px solid var(--main-area-border);
    width: 100%;
}

section#home > .main-profile > .main-profile-sub-title {
    padding-top: 0.75rem;
}

.contact-block {
    padding: 1rem;
    margin-top: 1rem;
    background-color: var(--white-color);
    border: 2px solid var(--content-block-border);
    border-radius: 15px;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

section#home > .sub-profile {
    opacity: 0.75;
    display: flex;
    padding: 1.5rem;
    flex-direction: row;
    margin: 1rem 0 5rem 0;
    border: 5px solid var(--main-area-border);
    background: var(--main-bg-color);
    flex: 1;
    width: 85%;
}

section#home > .sub-profile > .sub-profile-block {
    margin: 3rem;
    padding: 1rem;
    border: 5px solid var(--main-area-border);
    flex: 1;
    max-width: 50%;
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
}

section#home > .sub-profile > .sub-profile-block > .sub-profile-picture {
    border-radius: 15px;
    border: 5px solid var(--black-color);
    height: 15rem;
    width: 180px;
}

section#home > .sub-profile > .sub-profile-block > .sub-profile-title-block {
    font-weight: bold;
    font-size: 40px;
}

section#home > .sub-profile > .sub-profile-block > .sub-profile-content{
    flex: 1;
    justify-content: start;
    align-items: start;
    text-align: left;
}

section#home > .sub-profile > .sub-profile-block > .sub-profile-content > .profile-table {
    width: 100%;
    height: 15rem;
}

section#home > .sub-profile > .sub-profile-block > .sub-profile-content > .profile-table th,
section#home > .sub-profile > .sub-profile-block > .sub-profile-content > .profile-table td {
    text-align: left;
    font-size: 24px;
}

section#home > .sub-profile > .sub-profile-block > .sub-profile-content > .profile-table th {
    min-width: 7.5rem;
}

section#home > .sub-profile > .sub-profile-block > .sub-profile-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.5rem;
}

section#home > .sub-profile > .sub-profile-block > .sub-profile-grid h3 {
    margin-top: 0 !important;
    margin-bottom: 0.5rem !important;
}

section#home > .sub-profile > .sub-profile-block > .sub-profile-grid > .sub-profile-grid-block {
    flex: 1;
    min-width: 15rem;
    height: 17.5rem;
    padding: 0.5rem;
    border: 5px dashed var(--sub-profile-grid-border);
    background: var(--sub-profile-grid-bg-color);
}

.truncated-text {
    overflow: auto;
    text-overflow: ellipsis;
    word-break: break-all;
}

.wrap-container {
    display: flex;
    flex-direction: column;
    padding-top: 15rem;
}

section.wrap-info {
    background: var(--wrap-info-bg-color);
    position: relative;
    transition: 0.5s;
}

section.wrap-info > section.info-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100lvh;
    background-color: var(--info-area-bg-color);
}

section.wrap-info > section.info-area > .info-area-block {
    border: 3px solid var(--main-area-border);
    background: var(--main-bg-color-half-transparent);
    padding: 1rem;
    margin-top: 7.5rem;
    width: 80vw;
    height: 75lvh;

    display: inline-flex;
    flex-flow: row wrap;

    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    overflow: auto;
}

/* Skills */
section.wrap-info > section#skills {
    background-image: url("https://github.com/YangSooHo/my_portfolio/blob/main/images/background/skills.png?raw=true");
    background-position: center center;
    background-repeat: no-repeat;
}

section.wrap-info > section#skills .info-area-detail-block {
    box-sizing: border-box;
    flex: 1 0 45%;
    font-family: "Open Sans", sans-serif;
    border: 5px dashed var(--main-area-border);

    display: flex;
    justify-content: center;
    align-items: start;
    align-self: stretch;
}

section.wrap-info > section#skills .info-area-detail-block > .info-area-title-block {
    font-size: 36px;
    font-weight: bold;
}

section.wrap-info > section#skills .info-area-detail-block > .skill-detail {
    background-color: var(--white-half-transparent-color);
    padding: 1.5rem;
    width: 100%;
    height: fit-content;
}

section.wrap-info > section#skills table th {
    vertical-align: middle;
    width: 150px;
}

section.wrap-info > section#skills table td {
    vertical-align: middle;
}

.level-container {
    min-width: 250px;
    max-width: 100%;
    background: #ddd;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    height: 21px;
    display: flex;
    align-items: center;
}
.level-bar {
    height: 100%;
    background: var(--skill-level-color);
    z-index: 1;
    text-align: center;
    line-height: 21px;
    color: white;
    font-weight: bold;
    transition: width 0.3s ease-in-out;
    border-radius: 20px 0 0 20px; /* 왼쪽 모서리만 둥글게 */
}

.level-bar.level-1 { width: 10%;  }
.level-bar.level-2 { width: 20%   }
.level-bar.level-3 { width: 30%;  }
.level-bar.level-4 { width: 40%;  }
.level-bar.level-5 { width: 50%;  }
.level-bar.level-6 { width: 60%;  }
.level-bar.level-7 { width: 70%;  }
.level-bar.level-8 { width: 80%;  }
.level-bar.level-9 { width: 90%;  }
.level-bar.level-10 { width: 100%;}

.level-marker {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    pointer-events: none; /* 클릭 방지 */
}
.marker {
    width: 2px;
    height: 100%;
    background: white;
    opacity: 0.8;
}

/* Experience */
section.wrap-info > section#experience {
    background-image: url("https://github.com/YangSooHo/my_portfolio/blob/main/images/background/experience.png?raw=true");
    background-position: center center;
    background-repeat : no-repeat;
}

section.wrap-info > section#experience .info-area-list-container > .list-container-title {
    font-size: 36px;
    font-weight: bold;
}

section.wrap-info > section#experience .info-area-list-container {
    border-top:  3px solid var(--main-area-border);
    border-bottom:  3px solid var(--main-area-border);
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 45%;
    flex:1;
}


section.wrap-info > section#experience .info-area-list-container > .info-area-list-detail > .info-area-detail-item:first-child {
    border-top: 1px solid var(--black-color);
}

section.wrap-info > section#experience .info-area-list-container > .info-area-list-detail > .info-area-detail-item {
    border-bottom: 1px solid var(--black-color);
    padding: 0.5rem 0 0.5rem 0;
}

section.wrap-info > section#experience .info-area-list-container .info-area-list-detail-title {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 10px;
}

section.wrap-info > section#experience .info-area-list-container .info-area-list-content-item:before {
    content: "- ";
}

section.wrap-info > section#projects {
    background-image: url("https://github.com/YangSooHo/my_portfolio/blob/main/images/background/projects.png?raw=true");
    background-position: center center;
    background-repeat : no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Wizard */
section.wrap-info > section#projects .wizard {
    width: 100%;
    height: 95%;
    border: 5px solid var(--main-area-border);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section.wrap-info > section#projects .steps {
    display: flex;
    flex: 1;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform-style: preserve-3d;
    width: 100%;
}
section.wrap-info > section#projects .step {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: left;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    flex: 1;
    box-sizing: border-box;
    background-color: var(--white-half-transparent-color);
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
    transform-origin: center right;
}

section.wrap-info > section#projects .step.hidden-left {
    transform: rotateY(-90deg);
    opacity: 0;
}

section.wrap-info > section#projects .step.hidden-right {
    transform: rotateY(90deg);
    opacity: 0;
}

section.wrap-info > section#projects .step.active {
    transform: rotateY(0deg);
    opacity: 1;
}

section.wrap-info > section#projects .nav-buttons {
    display: flex;
    justify-content: space-between;
    width: 80%;
    position: absolute;
    left: 10%;
    margin-top: 10px;
}
section.wrap-info > section#projects .nav-buttons > .button-container {
    display:flex;
    flex-direction: column;
    gap: 1rem;
}
section.wrap-info > section#projects .nav-btn {
    background: var(--wizard-step-btn-color);
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
section.wrap-info > section#projects .nav-btn:disabled {
    background: #ccc;
}

section.wrap-info > section#projects .step-project {
    margin: 2rem;
    border: 5px solid var(--main-area-border);
    height: 93.5%;
    width: 90%;
}

section.wrap-info > section#projects .step-project > .step-project-title {
    font-size: 36px;
    font-weight: bold;
}

section.wrap-info > section#projects .step-project > .step-project-content {
    display:flex;
    flex-flow: row wrap;
    gap: 1.5rem;
    height: 100%;
}

section.wrap-info > section#projects .step-project > .step-project-content > .step-project-content-picture {
    flex: 1;
    height: 97%;
    border: 5px dashed var(--main-area-border);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

section.wrap-info > section#projects .step-project > .step-project-content > .step-project-content-picture > .picture-block {
    padding: 1rem;
}

section.wrap-info > section#projects .step-project > .step-project-content > .step-project-content-detail {
    flex: 2;
    height: 97%;
    border: 5px dashed var(--main-area-border);
    display: flex;
    flex-flow: column nowrap;
}

section.wrap-info > section#projects .step-project > .step-project-content > .step-project-content-detail > .step-project-content-overview:before {
    content: "Overview";
    font-size: 24px;
    font-weight: bold;
    display:inline-block;
    width: 100%;
}
section.wrap-info > section#projects .step-project > .step-project-content > .step-project-content-detail > .step-project-content-overview {
    border: 5px dashed var(--main-area-border);
    margin: 1rem;
    flex: 1;
    white-space: pre-line;
    padding: 0.5rem;
}

section.wrap-info > section#projects .step-project > .step-project-content > .step-project-content-detail > .step-project-content-dev-env:before {
    content: "Development Environment";
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    width: 100%;
}
section.wrap-info > section#projects .step-project > .step-project-content > .step-project-content-detail > .step-project-content-dev-env {
    border: 5px dashed var(--main-area-border);
    margin: 1rem;
    flex: 2;
    white-space: pre-line;
    padding: 0.5rem;
}

section.wrap-info > section#projects .step-project > .step-project-content > .step-project-content-detail > .step-project-content-data:before {
    content: "Details";
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    width: 100%;
}
section.wrap-info > section#projects .step-project > .step-project-content > .step-project-content-detail > .step-project-content-data {
    border: 5px dashed var(--main-area-border);
    margin: 1rem;
    flex: 2;
    white-space: pre-line;
    padding: 0.5rem;
}

section.wrap-info > section#projects .step-project > .step-project-content > .step-project-content-detail > .step-project-content-footer {
    margin: 0.5rem;
    padding: 0.5rem;
}

section.wrap-info > section#projects .step-project > .step-project-content > .step-project-content-picture img {
    max-width: 100%; /* 테이블 셀(td) 너비를 초과하지 않도록 제한 */
    height: auto; /* 비율을 유지하면서 크기 조정 */
    display: block; /* 가운데 정렬 문제 방지 */
    margin: 0 auto; /* 이미지가 가운데 정렬되도록 설정 */
}

section.wrap-info > section#reference {
    background-image: url("https://github.com/YangSooHo/my_portfolio/blob/main/images/background/reference.png?raw=true");
    background-position: center center;
    background-repeat : no-repeat;
}

footer {
    background: var(--footer-bg-color);
}

footer > .footer-block {
    width: 100%;
    border-top: 1px solid var(--footer-block-border);
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    display: flex;
}

footer > .footer-block > .footer-text {
    color: var(--footer-text-color);
}

footer > .footer-block > .footer-reference {
    color: var(--footer-text-color);
    padding: 1rem;
}

footer > .footer-block > .footer-reference > img {
    background-color: var(--footer-text-color);
    border-radius: 15px;
    padding: 0.5rem;
}