/* Responsive Setting */
@media screen and (max-device-width: 480px) {
    section.info-area {
        height: calc(200vw - 15rem) !important;
    }

    section.wrap-info > section.info-area > .info-area-block {
        margin-top: 1.5rem !important;
    }
}


@media screen and (max-device-width: 768px) {

    section.wrap-info > section#experience .info-area-list-container > .list-container-title {
        font-size: 21px;
        font-weight: bold;
    }

    section.wrap-info > section#experience .info-area-list-container .info-area-list-detail-title {
        font-size: 14px;
        font-weight: bold;
    }

    section.wrap-info > section#experience .info-area-list-container .info-area-list-content-item {
        font-size: 11px;
    }

    section.wrap-info > section#experience .info-area-list-container {
        border-width: 0 0 3px 0;
        padding-top: 0;
        width: 100%;
    }

    section.wrap-info > section#experience .info-area-list-container:first-child {
        border-width: 3px 0 3px 0;
        padding-top: 1rem;
    }

    section.wrap-info > section#projects .step-project > .step-project-content > .step-project-content-picture {
        flex: 1;
        border: 5px dashed var(--main-area-border);
    }

    section.wrap-info > section#projects .step-project > .step-project-content > .step-project-content-detail {
        flex: 2;
        border: 5px dashed var(--main-area-border);
    }

    section.wrap-info > section#projects .step-project > .step-project-title {
        font-size: 24px !important;
    }

    section.wrap-info > section#projects .step-project > .step-project-content > .step-project-content-picture img {
        width: 100% !important;
    }

}

@media screen and (max-device-width: 968px) {
    section.wrap-info > section#projects .step-project > .step-project-content > .step-project-content-picture {
        flex-flow: column nowrap !important;
    }

    section.wrap-info > section#experience .info-area-block {
        flex-flow: column nowrap !important;
        justify-content: start;
        overflow: auto;
    }

    section.wrap-info > section#projects .step-project > .step-project-content {
        display:flex;
        flex-flow: column nowrap;
        overflow: auto;
        gap: 1.5rem;
    }
}

@media screen and (max-device-width: 2520px) {
    section#home > .sub-profile {
        flex-direction: column !important;
    }

    section#home > .sub-profile > .sub-profile-block {
        max-width: 100% !important;
    }

    section#home {
        height: 100%;
    }
}